@charset "UTF-8";

@import "{juliancwirko:zf5}/scss/normalize.scss";

// local Foundation settings file.
// You can overwrite the settings here.
// Copy it from git repo -> scss/foundation/_settings.scss near main .scss file.
// Inside the file replace the functions 'foundation/functions' import path
// with '{juliancwirko:zf5}/scss/foundation/functions'
// Then Uncomment the line below:
@import "settings";

@import "{juliancwirko:zf5}/scss/foundation/components/grid.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/accordion.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/alert-boxes.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/block-grid.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/breadcrumbs.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/button-groups.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/buttons.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/clearing.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/dropdown.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/dropdown-buttons.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/flex-video.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/forms.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/icon-bar.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/inline-lists.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/joyride.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/keystrokes.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/labels.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/magellan.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/orbit.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/pagination.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/panels.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/pricing-tables.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/progress-bars.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/range-slider.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/reveal.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/side-nav.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/split-buttons.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/sub-nav.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/switches.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/tables.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/tabs.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/thumbs.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/tooltips.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/top-bar.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/type.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/offcanvas.scss";
@import "{juliancwirko:zf5}/scss/foundation/components/visibility.scss";

// instead importing partials you can import all in one import. If you want to do this remove all imports above and uncomment the one below
// @import "{juliancwirko:zf5}/scss/foundation.scss";

// your project styles goes here

// make Off Canvas menu full height
.off-canvas-wrap {
    .inner-wrap {
        min-height: 100vh;
    }
    .title {
        a {
            color: #fff;
        }
    }
}

.main-section {
    padding-bottom: rem-calc(100);
}
// magellan container custom styling
.magellan-container {
    background-color: #000;
    color: #fff;
    padding: 0px !important;
    .sub-nav {
        margin-bottom: 0;
    }
    a {
        color: #fff !important;
    }
}

.right-off-canvas-menu {
    &::-webkit-scrollbar {
        width: 0.3125rem;
        background-color: #CB3837;
    }

    &::-webkit-scrollbar-track {
        background-color: #f7f7f7;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #CB3837;
    }
}

// demo purposes
.row.display {
    background: #eee;
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 2rem;
    border: solid 1px #c6c6c6;
    margin-left: 0 !important;
    margin-right: 0 !important;
    .columns:nth-child(2) {
        background: #e1e1e1;
    }
}