<template name="dropdowns">
    <h4 id="dropdowns">Dropdowns</h4>
    <p><a class="button" data-dropdown="tinyDrop" href="#">Link Dropdown &raquo;</a>
        <a class="button" data-dropdown="contentDrop" href="#">Content Dropdown &raquo;</a>
        <!-- Dropdowns -->
    </p>
    <ul class="f-dropdown" data-dropdown-content="" id="tinyDrop">
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
    </ul>
    <div class="f-dropdown content medium" data-dropdown-content="" id="contentDrop">
        <h4>Title</h4>
        <p>Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!</p>
        <img src="http://foundation.zurb.com/docs/assets/img/examples/launch.jpg">
        <p>Launching a Discovery Mission</p><a class="button" href="#">Button</a>
    </div>
    <hr>
    <div>
        Docs: <a href="http://foundation.zurb.com/docs/components/dropdown.html">Foundation 5 Dropdoowns</a>
    </div>
</template>