<template name="buttons">
    <h4 id="buttons">Buttons</h4>
    <div class="row">
        <div class="small-6 large-6 columns">
            <a href="#" class="tiny button">.tiny.button</a>
            <br>
            <a href="#" class="small button">.small.button</a>
            <br>
            <a href="#" class="button">.button</a>
            <br>
            <a href="#" class="button expand">.expand</a>
            <br>
        </div>
        <div class="small-6 large-6 columns">
            <a href="#" class="tiny button secondary">.tiny.secondary</a>
            <br>
            <a href="#" class="small button success radius">.small.success.radius</a>
            <br>
            <a href="#" class="button alert round disabled">.round.disabled</a>
            <br>
        </div>
    </div>
    <hr>
    <h4 id="button-groups">Button Groups</h4>
    <ul class="button-group">
        <li><a href="#" class="small button">Button 1</a></li>
        <li><a href="#" class="small button">Button 2</a></li>
        <li><a href="#" class="small button">Button 3</a></li>
    </ul>
    <ul class="button-group radius">
        <li><a href="#" class="button secondary">Button 1</a></li>
        <li><a href="#" class="button secondary">Button 2</a></li>
        <li><a href="#" class="button secondary">Button 3</a></li>
        <li><a href="#" class="button secondary">Button 4</a></li>
    </ul>
    <ul class="button-group round even-3">
        <li><a href="#" class="button alert">Button 1</a></li>
        <li><a href="#" class="button alert">Button 2</a></li>
        <li><a href="#" class="button alert">Button 3</a></li>
    </ul>
    <ul class="button-group round even-3">
        <li>
            <input type="submit" class="button success" value="Button 1">
        </li>
        <li>
            <input type="submit" class="button success" value="Button 2">
        </li>
        <li>
            <input type="submit" class="button success" value="Button 3">
        </li>
    </ul>
    <hr>
    <h4 id="dropdown-buttons">Dropdown Buttons</h4>
    <ul id="drop" class="f-dropdown content" data-dropdown-content>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another link</a></li>
    </ul>
    <p><a href="#" data-dropdown="drop" class="tiny button dropdown">Tiny Dropdown Button</a>
        <br>
        <a href="#" data-dropdown="drop" class="small secondary radius button dropdown">Small Secondary Radius
                Dropdown Button</a>
        <br>
        <a href="#" data-dropdown="drop" class="button alert round dropdown">Button Alert Round Dropdown
                Button</a>
        <br>
        <a href="#" data-dropdown="drop" class="large success button dropdown">Large Success Dropdown
                Button</a>
        <br>
        <a href="#" data-dropdown="drop" class="large button dropdown expand">Large Expanded Dropdown Button</a>
    </p>
    <hr>
    <h4 id="split-buttons">Split Buttons</h4>
    <p><a href="#" class="tiny button split">Tiny Split Button <span data-dropdown="drop"></span></a>
        <br>
        <a href="#" class="small secondary radius button split">Small Secondary Radius Split Button <span
                data-dropdown="drop"></span></a>
        <br>
        <a href="#" class="button alert round split">Round Alert Split Button <span
                data-dropdown="drop"></span></a>
        <br>
        <a href="#" class="large success button split">Large Success Split Button <span
                data-dropdown="drop"></span></a>
    </p>
    <hr>
    <div>
        Docs: <a href="http://foundation.zurb.com/docs/components/buttons.html">Foundation 5 Buttons</a> | <a href="http://foundation.zurb.com/docs/components/button_groups.html">Foundation 5 Button Groups</a> | <a href="http://foundation.zurb.com/docs/components/split_buttons.html">Foundation 5 Split Buttons</a> | <a href="http://foundation.zurb.com/docs/components/dropdown_buttons.html">Foundation 5 Dropdown Buttons</a>
    </div>
</template>