<template name="blockGrid">
    <h4 id="block-grid">Block Grid</h4>
    <ul class="small-block-grid-2 large-block-grid-4">
        <li><img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/comet-th.jpg"></li>
        <li><img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/launch-th.jpg"></li>
        <li><img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/space-th.jpg"></li>
        <li><img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/spacewalk-th.jpg"></li>
    </ul>
    <hr>
    <div>
        Docs: <a href="http://foundation.zurb.com/docs/components/block_grid.html">Foundation 5 Block Grid</a>
    </div>
</template>