<template name="sliders">
    <h4 id="sliders">Sliders</h4>
    <div class="range-slider" data-slider>
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
    </div>
    <div class="range-slider radius" data-slider>
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
    </div>
    <div class="range-slider round" data-slider>
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
    </div>
    <div class="range-slider" data-slider data-options="step: 20;">
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
    </div>
    <hr>
    <div>
        Docs: <a href="http://foundation.zurb.com/docs/components/range_slider.html">Foundation 5 Sliders</a>
    </div>
</template>