<template name="index">
    <div class="panel">
        <h5>Website created for demo purposes.</h5>
        <p></p>
        <ul>
            <li>
                I want to show Foundation 5 UI elements and how it all works with Meteor.
            </li>
            <li>
                Some of the UI elements are JavaScript plugins. You'll find all files in <strong>client/views</strong> folder.
            </li>
            <li>
                Whole website is on GitHub repo here <a href="https://github.com/juliancwirko/meteor-zf5-demo">https://github.com/juliancwirko/meteor-zf5-demo</a>
            </li>
        </ul>
        <p>Use the canvas menu (bar icon) to reveal Foundation UI components links...</p>
    </div>
    <div class="panel">
        <h5>If you want to instal the Meteor Foundation 5 package: </h5>
        <p><code>$ meteor add juliancwirko:zf5</code></p>
        <p>
            Docs (on Atmosphere): <a href="https://atmospherejs.com/juliancwirko/zf5">https://atmospherejs.com/juliancwirko/zf5</a>
        </p>
    </div>
    <div class="panel">
        <p>
            There will be Foundation 6 soon and I hope this demo website could be also helpful when it is ready.
        </p>
    </div>
    <div class="panel">
        <p>
            Foundation 5 for Meteor is maintained by Julian Ćwirko. <br>
            Check out my blog: <a href="http://julian.io">julian.io</a> for more informations about Meteor, Zurb Foundation and other tools.
        </p>
    </div>
</template>